/*Normalize*/
* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --cinnabar: #e53030;
  --cerulean: #0493cf;
  --golden-fizz: #f9e63e;
  --jacksons-purple: #213295;
  --denim: #114ecb;
  --oracle: #3e6f7c;
}
/*Envoltura de la página*/
.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgb(33,50,149);
background: linear-gradient(138deg, rgba(33,50,149,1) 0%, rgba(68,147,242,1) 70%, rgba(32,193,219,1) 100%);

}
/*Estilos de las secciones*/
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*1ra sección: imágenes*/
/*Estilos del slider*/
.slider {
  display:flex;
  overflow: hidden;
  width: 85%;
  height: 80%;
  border-radius: 15px;
  position: relative;
  align-self: self-end;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
}
.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.slider > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  /* Elimina la capa negra de fondo */
  /* background-color: black; */
  /* opacity: .65; */
}
/*2da sección: login*/
/*Estilos de segunda sección*/
.sec-section {
  height: 100%;
  gap: 30px;
}
/*contenedor del contenido mostrado en la segunda sección*/
.sec-section article {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color:var(--cinnabar);
  gap: 10px;
  padding: 30px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
}
.form-guide {
  color: white;
  font-family: 'Kanit', sans-serif;
}
/*Estilos del form y etiquetas internas*/
.login {
  display: flex;
  flex-direction: column;
  color: white;
}
.input-label {
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
}
.input-data {
  border-radius: 50em;
  border: none;
  font-size: 18px;
  padding: 3px 10px;
}
.input-data:hover, .input-data:focus {
  outline-style: solid;
  outline-width: 3px;
  outline-color: var(--denim);
  border: none;
}
.text-button {
  width: min-content;
  margin-top: 20px;
  align-self: center;
  border-radius: 50em;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  border: none;
  background-color: var(--golden-fizz);
  padding: 3px 9px; 
}
.text-button:hover {
  background-color: #e8ee00;
}
