/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100vh; /* Ajustado para ocupar toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-bar {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: right;
}

.google-links a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

/* Estilos para index.html y image_search.html */
.google-container {
    max-width: 600px;
    margin: auto; /* Centrado horizontal */
    background-color: #fff;
    padding: 20px;
}

.google-header {
    text-align: center;
    margin-bottom: 20px;
}

.google-logo img {
    max-width: 60%; 
}

.search-bar {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    outline: none;
}

.input-wrapper {
    display: inline-block;
    width: 80%;
}

.button-wrapper {
    margin-top: 10px;
    display: block;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #f8f9fa;
    color: #212529;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Estilos para advanced_search.html*/
.top-logo {
    padding: 10px;
    text-align: left; 
}

.advanced-logo{
    display: inline-block;
    vertical-align: middle;
}

.advanced-logo img {
    max-width: 120px;
    height: auto;
}

.advanced-container {
    padding: 20px;
    float: left; /* Alinear a la izquierda */
    width: 60%; 
    margin-bottom: 460px;
}

.advanced-search {
    width: 60%; /* Ancho del fomrmulario */
}

.advanced-search p {
    color: #CC3333;
    font-size: 20px;
}

.advanced-search form label,
.advanced-search form input[type="text"] {
    display: block;
    margin-bottom: 10px; 
}
